* {
	font-family: "Arial", "Helvetica Nueue", Helvetica, sans-serif;
	font-size: 18px;
}

body {
	background-color: #777;
	width: 960px;
}

header {
	display: block;
	text-align: center;
	background-color: #ebebeb;
	border: 25px;
	padding: 25px;
	margin: 0px 25px 10px 25px;
}

nav {
	display: block;
	text-align: center;
	background-color: #ebebeb;
	border: 10px;
	padding: 25px;
	margin: 0px 25px 0px 25px;
}

section {
	width: 445px;
	z-index: 1;
	height: 295px;
	top: 160px;
	float: left;
	position: absolute;
	text-align: center;
	background-color: #ebebeb;
	border: 10px;
	padding: 25px;
	margin: 25px;
}

aside {
	width: 300px;
	z-index: 1;
	height: 295px;
	top: 200px;
	float: right;
	text-align: center;
	background-color: #ebebeb;
	border: 10px;
	padding: 25px;
	margin: 25px;
}

article {
	width: 410px;
	z-index: 2;
	height: 200px;
	top: 225px;
	left: 25px;
	float: left;
	position: absolute;
	text-align: center;
	background-color: #777;
	border: 10px;
	padding: 25px;
	margin: 25px;
}

#h1 {
	width: 375px;
	z-index: 3;
	height: 5px;
	top: 305px;
	left: 45px;
	float: left;
	position: absolute;
	text-align: center;
	background-color: #ebebeb;
	border: 10px;
	padding: 25px;
	margin: 25px;;
}

p {
	width: 375px;
	z-index: 3;
	height: 5px;
	top: 385px;
	left: 45px;
	float: left;
	position: absolute;
	text-align: center;
	background-color: #ebebeb;
	border: 10px;
	padding: 25px;
	margin: 25px;
}

footer {
  	clear: both;
  	display: block;
	text-align: center;
	background-color: #ebebeb;
	border: 25px;
	padding: 25px;
	margin: 0px 25px 10px 25px;
}